includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src

    level: 5

    excludePaths:
        - vendor

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        # BaseExport 是抽象类，子类构造函数签名应保持一致
        -
            identifier: new.static
            path: src/BaseExport.php
