includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src

    level: 5

    ignoreErrors:
        # xlswriter 扩展类型提示不完整
        - '#Call to an undefined method Vtiful\\Kernel\\Excel::#'

    excludePaths:
        - vendor
